* {
    scroll-behavior: smooth;
}

:root {
    --basic: #1572A1;
    --basic2: #1572a1cc;
    --basic3: #9AD0EC;
    --main: #d2d6e0;
}

.nav-menu-color,
.containe {
    background-color: var(--basic)!important;
}

.date-posted {
    background-color: #FBF8F1;
    color: var(--basic);
}

.howtoapplay {
    background-color: var(--basic2);
}

.howtoapplay button {
    background-color: var(--basic);
}

#collapseFive {
    background-color: var(--basic3);
}

.fav {
    fill: gold;
    cursor: pointer;
}

.fav:active {
    fill: var(--basic)
}

.comp {
    display: grid;
    gap: 12px 6px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.comp svg {
    width: 170px!important;
    height: 80px!important;
}

.last-jop {
    background-color: #cfcfcf26;
}

.last-offer {
    color: var(--basic);
    font-weight: bold;
}

.last-offer footer h2 {
    color: var(--basic);
}

footer .bg-light {
    background: var(--basic) !important;
    color: #c5bdbd;
}

@media(min-width:768px) {
    .comp {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width:992px) {
    .comp {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media(min-width:1200px) {
    .comp {
        grid-template-columns: repeat(7, 1fr);
    }
}


/*****************/

.page-section {
    margin-top: 12vh;
}

.active {
    color: red;
}